@font-face {
  font-family: "iconfont";
  /* Project id 4654653 */
  src: url('https://at.alicdn.com/t/c/font_4654653_uqsnr0dlwp.woff2?t=1724487014729') format('woff2'),
    url('https://at.alicdn.com/t/c/font_4654653_uqsnr0dlwp.woff?t=1724487014729') format('woff'),
    url('https://at.alicdn.com/t/c/font_4654653_uqsnr0dlwp.ttf?t=1724487014729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e614";
}

.icon-xiangxiajiantou:before {
  content: "\e673";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-shengxupaixu:before {
  content: "\e63b";
}

.icon-jiangxupaixu:before {
  content: "\e63c";
}

.icon-xuanzhong1:before {
  content: "\e63a";
  color: #d1cece;
  font-size: 45rpx;
}

.icon-xuanzhong1-copy:before {
  content: "\ec2f";
  color: #ff5040;
  font-size: 45rpx;
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-riqi:before {
  content: "\e60c";
}

.icon-xiaoxi1:before {
  content: "\e64b";
}

.icon-huangsexingxing:before {
  content: "\e6e8";
  color: yellow;
}

.icon-a-jiagou2x:before {
  content: "\e60b";
  color: #ff5040;
  font-size: 40rpx;
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-xiugaioryijian:before {
  content: "\e601";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-31daifahuo:before {
  content: "\e603";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-dianhua:before {
  content: "\e74c";
}

.icon-shouru:before {
  content: "\e645";
}

.icon-dingwei:before {
  content: "\e692";
}

.icon-wodeshanghu:before {
  content: "\e606";
}

.icon-yijianfankui1:before {
  content: "\e8a1";
}

.icon-xinpin:before {
  content: "\e610";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-shouhou:before {
  content: "\e6aa";
}

.icon-zuanshi:before {
  content: "\e699";
}

.icon-dingwei1:before {
  content: "\e616";
}

.icon-guanyuwomen:before {
  content: "\e604";
}

.icon-shouzhangben:before {
  content: "\e605";
}

.icon-ditu_dingwei:before {
  content: "\eb33";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-qiehuanzhanghao:before {
  content: "\e646";
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-xiaoxi:before {
  content: "\e617";
}

.icon-baobiao:before {
  content: "\e707";
}

.icon-zhichu:before {
  content: "\e670";
}

.icon-qiehuanzhanghao1:before {
  content: "\e622";
}

.icon-gengduo:before {
  content: "\e659";
}

.icon-shezhi:before {
  content: "\e7eb";
}

.icon-shoucang:before {
  content: "\e608";
}

.icon-gouwulan:before {
  content: "\e609";
}

.icon-shujuguanli-daohang-daorushuju:before {
  content: "\e704";
}

.icon-xiadanqingkuang:before {
  content: "\e685";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-fuwutiaokuan:before {
  content: "\e639";
}

.icon-kuaijiexiadan:before {
  content: "\e6a3";
}

.icon-saomafahuo:before {
  content: "\e60a";
}